html,
body {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
}

h2 {
  font-family: 'Source Sans Pro', serif;
  font-weight: bold;
}

header {
  position: relative;
  background-color: black;
  height: 10vh;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.2;
  z-index: 1;
}

.navbar-brand {
  font-size: 1.50rem;
}

.nav-link {
  font-size: 1.40rem;
}

.card {
  border-radius: 2px;
  margin: 0.4rem;
  text-align: center;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.device-card {
  padding: 0.2rem;
}

.card:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.22);
}

.btn-omni {
  color: #a1c729;
  background-color: #fff;
  border-color: #a1c729;
}

.btn-omni:hover {
  color: #fff;
  background-color: #a1c729;
  border-color: #a1c729;
}

.btn-omni:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem #a1c729(0, 123, 255, 0.25);
}

.btn-omni:not(:disabled):not(.disabled):active,
.btn-omni:not(:disabled):not(.disabled).active,
.show>.btn-omni.dropdown-toggle {
  color: #fff;
  background-color: #a1c729;
  border-color: #a1c729;
}

.btn-omni-rounded {
  font-size: 13px;
  color: #a1c729;
  letter-spacing: 1px;
  line-height: 20px;
  border: 1px solid #a1c729;
  border-radius: 40px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-omni-rounded:hover {
  color: #FFF;
  background: #a1c729;
}

.btn-omni-rounded:focus,
.btn-omni-rounded.focus {
  color: #FFF;
  background: #a1c729;
}

.btn-omni-rounded.disabled,
.btn-omni-rounded:disabled {
  color: #212529;
  background: #212529;
}

.btn-omni-rounded:not(:disabled):not(.disabled):active,
.btn-omni-rounded:not(:disabled):not(.disabled).active,
.show>.btn-omni-rounded.dropdown-toggle {
  color: #FFF;
  background: #a1c729;
}

.btn-omni-rounded:not(:disabled):not(.disabled):active:focus,
.btn-omni-rounded:not(:disabled):not(.disabled).active:focus,
.show>.btn-omni-rounded.dropdown-toggle:focus {
  color: #FFF;
  background: #a1c729;
}

.post-meta {
  font-style: italic;
  color: #505050;
}

.post {
  margin: 10px;
}

.post-image {
  width: 64px;
  height: 64px;
  object-fit: cover;
  float: left !important;
}

.post-title {
  font-size: 28px;
  font-family: 'Source Sans Pro', serif;
  font-weight: bold;
  margin-left: 90px;
}

.post-header {
  height: 92px;
  position: relative;
}

.vertical-center {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.footer {
  background: #a1c729;
  color: white;
  flex-shrink: 0;
}

.content {
  flex: 1 0 auto;
}

.footer-link {
  color: white;
}

.footer-link:hover {
  color: #00f;
}

@media (max-width: 750px) {
  .post-image {
    width: 48px;
    height: 48px;
    object-fit: cover;
    float: left !important;
  }

  .post-title {
    font-size: 24px;
    font-family: 'Source Sans Pro', serif;
    font-weight: bold;
    margin-left: 76px;
  }
}

/* Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  visibility: hidden;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

a.nav-link {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link.active {
  color: #a1c729;
  background-color: #fff;
  border-radius: 4px;
}

.navbar-light .navbar-nav .nav-link:hover:not(.active) {
  color: #ddd;
}