body {
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-family: 'Source Sans Pro', serif;
  font-weight: bold;
}

header {
  position: relative;
  background-color: black;
  height: 10vh;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
  
header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.2;
  z-index: 1;
}

.navbar-brand {
  font-size: 1.50rem;
}

.nav-link {
  font-size: 1.40rem;
}

.card {
  border-radius: 2px;
  margin: 0.4rem;
  text-align: center;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.device-card {
  padding: 0.2rem;
}

.card:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.22);
}
