<div class="col-lg-10 mx-auto">
  <p class="lead">
    The core of Omni is the community, and we recognize that everyone has a role to play. So we have a number of
    ways for you to get involved:</p>
  <ul>
    <li>
      <p>
        <a href="http://github.com/omnirom">Github</a> – our codebase where we build from.
      </p>
    </li>
    <li>
      <p><a href="http://gerrit.omnirom.org/">Gerrit</a> – view our project at the code level with
        the ability to see what’s merged, what’s
        open and
        what’s in review.</p>
    </li>
    <li>
      <p><a href="https://t.me/OmniROM_Community">Telegram</a> – get connected to the Omni
        community in realtime on Telegram.</p>
    </li>
    <li>
      <p><a href="https://dl.omnirom.org">Download</a> – download builds for supported devices.</p>
    </li>
    <li>
      <p><a href="https://crowdin.com/project/OmniROM">Crowdin</a> – contribute translations for your native language.
      </p>
    </li>
  </ul>
</div>