<div class="col-lg-12">
  <div class="row justify-content-center">
    <div class="col-lg-2 col-md-3 col-sm-6">
      <a href="#devices/android-10" id="android-10" class="btn btn-light">Android Q (10)</a>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-6">
      <a href="#devices/android-11" id="android-11" class="btn btn-light">Android R (11)</a>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-6">
      <a href="#devices/android-12_0" id="android-12_0" class="btn btn-light">Android S (12)</a>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-6">
      <a href="#devices/android-12_1" id="android-12_1" class="btn btn-light">Android S (12.1)</a>
    </div>
  </div>
  <div class="row justify-content-center" id="device-list">

  </div>
</div>