[access]
	inheritFrom = All-Projects
[submit]
	action = inherit
[receive]
	requireChangeId = false
[access "refs/heads/*"]
	create = group website maintainer
	label-Code-Review = -2..+2 group website maintainer
	label-Verified = -1..+1 group website maintainer
	push = group website maintainer
	submit = group website maintainer
