<div class="col-lg-8 mx-auto">
  <h2>About Omni</h2>
  <p class="lead">
    OmniROM is our Android custom ROM variant, feature-packed but always with stability as #1 priority in mind.
  </p>
  <p>
    Based on the Android Open Source Project (AOSP) and enriched by our developers with lots of custom
    enhancements, OmniROM has set out to give you a great Android experience on your mobile.
    <p>
      Omni isn’t better, just different.</p>
    <p>
      It’s another option for the billion Android users out there. Android (vs. iOS and every other mobile OS)
      has
      thrived on options as well as the gigantic, talented development community that has emerged to build those
      options. That’s the beauty of Android – that you can pick and choose from a smorgasbord of devices with
      varying features and functionality.
    </p>
    <p>
      Omni is a chance to get involved, no matter who you are.</p>
    <p>
      Developers, whether you’ve been developing apps for a week, or ROM features for 3 years, you’re welcome.
      Users, we know you want to help out, and now you can - we encourage all levels of contribution, from code
      to
      reporting bugs to squashing bugs to (what developer's tend to hate) documentation.</p>
  </p>
</div>