<div class="col-lg-10 mx-auto">
  <p class="lead">
    <h2>OmniROM 2025 VPS server donations:</h2>
    <p>For running our Gerrit server and download server we need a VPS.<br>
    The costs of this server @ Hetzner are 44,39E / month. (See <a href=https://www.hetzner.com/dedicated-rootserver/#price_to=570>AX41-NVMe</a>)<br>
    <p>Thanks</p>

    <h2>How you can donate:</h2>
    <ul>
      <li>
      <p>Using <a href="https://www.paypal.com/paypalme/maxwen">PayPal</a></p>
    </li>
      <li>
      <p>Direct wire transfer:</br>Max Weninger<br> IBAN: AT24 6000 0000 0833 1049 </br> BIC: BAWAATWW </p>
    </li>
    <li>
      <p>Or contact us per <a href="mailto:maxwen42@gmail.com">email</a> for other ways how you can show your support.</p>
    </li>
  </ul>
  </br>
  <p>Please add a little note with your name if you want to be mentioned on the <a href="#supporters">supporters</a> page</p>
  </p>
</p>
</br>
  <p><a href="https://www.silentpartnersoftware.com/free-tools/fundraising-thermometer/" title="Fundraising Thermometer"><img decoding="async" border="0" src="http://www.silentpartnersoftware.com/fundraising-thermometer?currency=euro&current=454&goal=532&color=a0df5d&size=medium"></a></p>
</div>
