<div class="col-lg-10 mx-auto">
  <p class="lead">
    <h2>Primary goal:</h2>
    <p>For running our Gerrit server and download server we need a VPS.<br>
    The costs of this server @ Hetzner are 38,70E / month.<br>
    So the primary goal is to secure this for one year. </p>

    <h2>Extended goals:</h2>
    <p>Upgrade server config</p>
    <ul>
      <li>Increase disk space</li>
      <li>Faster CPU</li>
    </ul>
    <h2>How you can donate:</h2>
    <ul>
      <li>
      <p>Using <a href="https://www.paypal.com/paypalme/maxwen">PayPal</a></p>
    </li>
    <li>
      <p>Or contact us at <a href="mailto:admin@omnirom.net">admin@omnirom.net</a> for other ways how you can show your support.</p>
    </li>
  </ul>
  <p>Page will be updated daily. <a href="#supporters">Supporters</a> </p>
  </p>
</p>
  <p><a href="https://www.silentpartnersoftware.com/free-tools/fundraising-thermometer/" title="Fundraising Thermometer"><img decoding="async" border="0" src="http://www.silentpartnersoftware.com/fundraising-thermometer?currency=euro&current=316&goal=464&color=a0df5d&size=medium"></a></p>
</div>
